// Never modify css file
// 1. CSS Variables
@import './resets';
@import './variables';

// Functions
@function weight($weight-name) {
    @return map-get($font-weights , $weight-name );
}

// Mixins
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

// Functions should compute return values. Mixins should define styles

// Dark and light theme mixin
@mixin theme($light-theme: true) {
    @if $light-theme {
        // background: effect(color, percentage of effect)
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

// Media Query mixin
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background: $primary-color;
    color: $text-color;
}

// Nesting
.main {
  @include flexCenter(row);
    width: 80%;
    margin: 0 auto;
    // ampersand equals parent element
    // interpolation
    #{&}-paragraph {
    font-weight: weight(bold);
    &:hover {
        color: $accent-color;
    }
    }

    @include mobile{
        @include flexCenter(column)
    }
}

.light {
    // Sass doesn't compile the theme if light-theme is false
    @include theme($light-theme: true)
}