// Never modify css file
// 1. CSS Variables
@import './resets';
@import './variables';

body {
    background: $primary-color;
    color: $text-color;
}

// Nesting
.main {
    width: 80%;
    margin: 0 auto;
    // ampersand equals parent element
    // interpolation
    #{&}-paragraph {
    font-weight: map-get($font-weights, bold);
    transition: all 1s ease;
 
    &:hover {
        color: $accent-color;
    }
    }
}